:root {
    --green: rgb(63, 191, 63);
    --red: rgb(255, 63, 63);
}

* {
    font-family: sans-serif;
}

body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    background-color: white;
    width: 50%;
    padding: 0 1rem 1rem 1rem;
    border: black solid 1px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p, button {
    font-size: 1.5em;
}

button {
    padding: 0.3em;
    margin: 0.3em;
    border: 1px solid rgb(143, 143, 156);
    border-radius: 3px;
}

#start-div,
#quiz-div,
#end-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mc-div{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mc-button {
    flex: 0 0 22%;
}

.correct-answer {
    background-color: var(--green);
}

.wrong-answer {
    background-color: var(--red);
}

#kana-span {
    font-size: 16em;
}

@media (max-width: 1100px) {
    main {
        width: 60%;
    }

    .mc-button {
        flex: 0 0 46%;
    }
}

@media (max-width: 700px) {
    main {
        width: 80%;
    }

    .mc-button {
        flex: 0 0 92%;
    }
}