:root {
    --green: rgb(63, 191, 63);
    --red: rgb(255, 63, 63);
}

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    width: 50%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p, button {
    font-size: 1.5em;
}

button {
    padding: 0.3em;
    margin: 0.2em;
    border: 1px solid rgb(143, 143, 156);
    border-radius: 3px;
}

#start-div,
#quiz-div,
#end-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mc-button {
    width: 10ch;
}

.correct-answer {
    background-color: var(--green);
}

.wrong-answer {
    background-color: var(--red);
}

#kana-span {
    font-size: 16em;
}